# Virtual environment
env/
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django database
db.sqlite3
db_backup.sqlite3

# Logs
*.log

# IDE-specific files
.vscode/
.idea/wavu_data.sqlite3
